
%h1 
  Parse CSV

%p== "This is the app! Hello world! #{@word}"

%form{:action => "/login", :method => "post"}
  %legend
    A simple question
  %p
    %label{:for => ""} Username?
    %input{:type => "textbox", :name => "username", :id => "username"}
    %label{:for => ""} Password?
    %input{:type => "textbox", :name => "password", :id => "password"}
  %p
    %input{:type => "submit", :value => "Submit!"}